.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.slnx
*.vssscc
*.vsix

**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Development.*.json
**/appsettings.*.Development.json

*.local.json
*.local.config
*.secrets.config

appsettings.Development.json
appsettings.Production.json


[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Pp]ublish/

*.dll
*.exe
*.pdb
*.exp
*.ilk
*.log
*.tlog
*.manifest
*.cache
*.tmp
*.nupkg
*.snupkg

packages/
.nuget/

.idea/
*.iml

Thumbs.db
Desktop.ini
.DS_Store

*.log
*.txt
*.html
*.xm